body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

#contentWrap {
    display: none;
}

.message {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    max-width: 70%;
    position: relative; /* Añadido para establecer la posición relativa en el contenedor del mensaje */
}

.message .time {
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa; /* Color de la hora */
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}
